<div class="panel panel-default">
    <div class="panel-heading">Job (#{{ vm.job.id }})</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>{{ vm.job.description }}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd>{{ vm.job.getTextStatus() }}</dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>Actions</dt>
            <dd>
                <button class="btn btn-xs btn-primary" ui-sref="jobs.update({id: vm.job.id})">Update</button>
            </dd>
        </dl>
    </div>
</div>